body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    color: #333;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.sidebar.hidden {
    transform: translateX(-250px);
}

.sidebar a {
    font-size: 1.3em;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    display: block;
    width: calc(100% + 50px);
    text-align: left;
    transition: background-color 0.3s ease, border-radius 0.3s ease, padding-left 0.3s ease;
    border-radius: 5px;
    margin: 5px 0;
}

.sidebar a:hover {
    background-color: #e2e6ea;
    border-radius: 10px;
    width: calc(100% + 50px);
    margin: 5px 0;
}

.sidebar a.active {
    background-color: #e6e6e6;
    color: #000;
}

#refresh-container {
    width: 100%;
    text-align: left;
    padding: 20px 15px;
    margin-bottom: 20px;
}

#refresh-container .custom-button {
    width: calc(100% - 30px);
    margin: 0;
    border-radius: 5px;
}

.container {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease;
}

.container.shifted {
    margin-left: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.project-card,
.test-card,
.run-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 1em 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.project-card:hover,
.test-card:hover,
.run-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.project-card h2,
.test-card h2,
.run-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project-card p,
.test-card p,
.run-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.unchecked {
    background-color: #e9e9e9;
}

.checked {
    background-color: #d4edda;
}

.error {
    background-color: #f2dede;
}

.retest {
    background-color: #fff3cd;
}

/* Стили для модальных окон */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-content h2 {
    margin: 0 20px;
    padding: 0;
    width: calc(100% - 40px); /* Ширина заголовка по ширине модального окна */
}

.modal-content p {
    margin: 0 20px 10px;
    padding: 0;
    width: calc(100% - 40px); /* Ширина текста по ширине модального окна */
    font-size: 16px; /* Размер шрифта для согласования с другими элементами */
    font-weight: bold; /* Жирный текст для выделения */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Убедитесь, что курсор изменяется на указатель */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Стили для плиток платформ в модальном окне */
.platform-tiles {
    display: flex;
    flex-wrap: wrap; /* Позволяет перенос плиток на следующую строку, если не хватает места */
    gap: 10px;
    margin: 10px 20px; /* Отступы от краёв модального окна */
}

.platform-tile {
    flex: 1 1 auto; /* Автоматическая ширина плитки, чтобы заполнять доступное пространство */
    padding: 5px; /* Уменьшенный внутренний отступ */
    font-size: 12px; /* Уменьшенный размер шрифта */
    background-color: #dcdcdc; /* Серый цвет фона по умолчанию */
    border: 1px solid #aaa; /* Граница плиток */
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-sizing: border-box;
    margin-bottom: 10px; /* Отступ снизу для кнопок */
    width: calc(33.33% - 10px); /* Ширина плиток с учетом отступов */
}

.platform-tile.selected {
    background-color: #333; /* Тёмно-серый цвет при выделении */
    color: white;
    transform: scale(1.05);
}

.platform-tile:hover {
    background-color: #c0c0c0; /* Светло-серый цвет при наведении */
}

/* Стили для кнопок в модальном окне */
.modal-buttons {
    margin-top: 20px; /* Отступ сверху для кнопок */
    display: flex;
    justify-content: space-between; /* Кнопки на одной линии */
}

.modal-buttons button {
    width: calc(50% - 10px); /* Ширина кнопок с учетом отступов */
    padding: 10px;
    margin: 0 20px; /* Отступы по бокам */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    box-sizing: border-box;
}

.custom-button {
    background-color: #e6e6e6;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}

.custom-button:hover {
    background-color: #d6d4d4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-button.active {
    background-color: #d9d9d9;
    border-color: #aaa;
    color: #000;
}

/* Стили для полей ввода */
.modal-content input[type="text"],
.modal-content textarea {
    width: calc(100% - 40px);
    padding: 12px;
    margin: 8px 20px; /* Отступы сверху и снизу, отступы по бокам включены в ширину */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.modal-content textarea {
    font-size: 1.1em;
}

.error-message {
    width: calc(100% - 40px);
    margin: 5px 20px; /* Отступы сверху и снизу, отступы по бокам включены в ширину */
    color: red;
    font-size: 0.9em;
    display: none;
}


#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.toast {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-20px);
    font-family: Arial, sans-serif; /* Ваш шрифт */
    font-size: 14px; /* Ваш размер шрифта */
    background-color: #333;
    color: #fff;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.toast.info {
    background-color: #17a2b8;
}

.toast.warning {
    background-color: #ffc107;
}
